#customize-control-layout_columns label {
  margin-top: 10px;
  width: 50%;
  float: left;
  height: 105px;
  position: relative;
}

#customize-control-layout_columns label:before {
  content: '';
  display: block;
  width: 120px;
  height: 95px;
  position: absolute;
}

#customize-control-layout_columns .customize-control-title {
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding-top: 9px;
}

#customize-control-layout_columns label:nth-of-type(1):before {
  background: url(img/layout-default.png) 0 0 no-repeat;
}

#customize-control-layout_columns label:nth-of-type(2):before {
  background: url(img/layout-1-2-1.png) 0 0 no-repeat;
}

#customize-control-layout_columns label:nth-of-type(3):before {
  background: url(img/layout-2s.png) 0 0 no-repeat;
}

#customize-control-layout_columns label:nth-of-type(4):before {
  background: url(img/layout-2-1-2.png) 0 0 no-repeat;
}


#customize-control-layout_columns label:hover,
#customize-control-layout_columns label.active:hover {
  opacity: .3;
}

#customize-control-layout_columns label.active {
  opacity: .5;
}


#customize-controls .description {
  border-radius: 5px;
  padding: 10px;
  background-color: #e9faff;
  border: 1px solid #2aaed4;
  color: #2aaed4;
}



/* New Stuff, yay! */
#customize-controls .mt-announce {
  display: inline-block;
  margin-top: 5px;
  width: 92%;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #ffe7dd;
  border: 1px solid #d44a2a;
  color: #e16244;
}

#customize-controls .mt-announce * {
  color: #e16244;
}

#customize-controls .mt-announce h3 {
  color: #e16244;
  margin-top: 10px;
  padding-bottom: 0;

}

#customize-controls .mt-announce h3 + p {
  margin-top: -10px;
}

#customize-controls .mt-new-label {
  color: #e16244;
}

#customize-controls .mt-new {
  background-color: #e16244;
  color: #fff;
  padding: 0 3px;
  border-radius: 3px;
  display: inline-block;
  font-size: 8px;
  float: right;
  margin-right: 20px;
  line-height: 19px;
}

#customize-controls .mt-new.mt-inline {
  float: none;
  margin: 0;
}
