//
// Variables
//

// Vendor Settings
$slick-loader-path: '../img/';

// Grid Variables
$grid-gutter-width: 30px;
$container-padding : 120px;
$container-padding-small : 60px;
$grid-columns: 12;

// Grid Breakpoints Array
$grid-breakpoints: (
  xxs: 0,
  xs: 320px,
  sm: 520px,
  md_custom: 620px,
  md: 780px,
  lg: 1024px,
  xl: 1440px,
  xxl: 1580px
) !default;

  // Color Variables
  $primary: #202223;
  $link_color: #5052F0;
  $button_color: $link_color;

  $type_color: $primary;
  $background: #FCFAE9;
  $rules: #efefef;
  $border_color: #FFF9C7;
  // Colors Array
  $theme-colors: (
    primary:    $primary,
    rules:  $rules,
    white:      #fff
  ) !default;

  // Type Variables
  $header-font: "roc-grotesk", Helvetica, Arial, sans-serif;
  $header-font-alternate: "roc-grotesk-condensed", Helvetica, Arial, sans-serif;
  $font-family-base: $header-font;
  $font-size-small: .75rem;
  $font-size-base: 1.15rem;
  $font-size-medium: 1.25rem;
  $font-size-large: 1.5rem;
  $font-size-x-large: 2rem;

  $h1-font-size: 5.3rem;

  $h1-font-size-medium: 3.25rem;
  $h1-font-size-small: 3.25rem;

  $h2-font-size: 3rem;
  $h2-font-size-small: 2.25rem;

  $h3-font-size: 2rem;
  $h3-font-size-small: 1.5rem;

  $h4-font-size: 1.5rem;
  $h4-font-size-small: 1.15rem;

  $h5-font-size: 1.15rem;
  $h5-font-size-small: 1rem;

  $h6-font-size: .9rem;
  $h6-font-size-small: 0.8rem;

