###########
## Common
###########
*.bak
ignore/
Desktop.in
*Thumbs.db
*.DS_Store
*~imageoptim*
uploads
.htaccess
node_modules
.env
plugins/akismet/
plugins/hello.php
themes/twentynineteen/
themes/twentytwenty/
themes/twentytwentyone/
letsencrypt
certs
