.card {
  background-color: #fff;
  position: relative;
  border: solid 4px $border_color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > section {
    padding: $grid-gutter-width;
    @include media-breakpoint-up(md) {
      padding: $grid-gutter-width * 1.5;
    }
    @include media-breakpoint-up(lg) {
      padding: 90px 90px 30px 90px;
    }
  }

  h2 {
    a {
      color: $primary;
    }
  }
  
  .categories {
    display: flex;
    align-items: center;
    padding: 15px 0 0 0;
    margin-bottom: $grid-gutter-width;
    
    > a {
      text-decoration: none;
      padding-left: 15px;
    }
    h5 {
      padding: 0;
      margin: 0;
      
    }
  }
  .button {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

