  .post-nav {
  @include make-container(small, true);
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  a {
    font-family: $header-font-alternate;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.5rem;
    padding: 5px;
  }
}