// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.button, button {
  
  display: inline-block;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  background-color: $button_color;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  position: relative;
  font-family: $header-font-alternate;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: $font-size-medium;

  &:hover {
    text-decoration: none;
    background-color: $primary;
    color: #fff;
  }

  &:focus,
  &.focus {
    outline: 0;

    // box-shadow: $btn-focus-box-shadow;
 
  }
}


